[Desktop Entry]
Type=Application
Version=1.0
Name=Keystore Explorer
Comment=Keystore Explorer for exploring keystores
Exec={{ansible_env.HOME}}/.local/tools/kse-551/kse.sh
Icon={{ansible_env.HOME}}/.local/tools/kse-551/icons/kse_256.png
Terminal=false
Categories=Development
